<h2 mat-dialog-title>Gestione Presenza</h2>
<div mat-dialog-content>
  <form class="container" [formGroup]="form" novalidate>
    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Commessa</mat-label>
          <input
            type="text" 
            placeholder="Scegli una commessa"
            matInput 
            formControlName="commessa"
            [matAutocomplete]="auto"
          >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFnCommessa">
            <mat-option *ngFor="let commessa of (commessaAutocomplete.filteredArray$ | async)" [value]="commessa">
              <b>{{ commessa.descrizioneAttivita }}</b> ({{ commessa.descrizioneCommessa }})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div
        [class.col-md-6]="appState.viewAzienda.modalitaLavoroAttivazione === 'S'"
        [class.col-12]="appState.viewAzienda.modalitaLavoroAttivazione !== 'S'"
      >
        <mat-form-field appearance="fill">
          <mat-label>Diaria</mat-label>
          <input
            type="text" 
            placeholder="Scegli una diaria"
            matInput 
            formControlName="diaria"
            [matAutocomplete]="auto2"
          >
          <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displayFnDiaria">
            <mat-option *ngFor="let diaria of (diariaAutocomplete.filteredArray$ | async)" [value]="diaria">
              {{ diaria.tipoTrasferta }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Seleziona una commessa per vedere le diarie</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="appState.viewAzienda.modalitaLavoroAttivazione === 'S'">
        <mat-form-field appearance="fill">
          <mat-label>Modalità Lavoro</mat-label>
          <input
            type="text" 
            placeholder="Scegli una modalità lavoro"
            matInput 
            formControlName="modalitaLavoro"
            [matAutocomplete]="auto3"
          >
          <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete" [displayWith]="displayFnModalitaLavoro">
            <mat-option *ngFor="let modalitaLavoro of (modalitaLavoroAutocomplete.filteredArray$ | async)" [value]="modalitaLavoro">
              {{ modalitaLavoro.descrizione }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Data Inizio</mat-label>
          <input
            matInput
            type="datetime-local"
            placeholder="Data inizio"
            formControlName="dataInizio"
          >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Numero Ore Totali</mat-label>
          <input
            type="number"
            matInput
            placeholder="Numero ore totali"
            formControlName="numeroOre"
            step="0.5"
            min="0"
          >
          <mat-hint>Questo valore include straordinari e banca ore.</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-end mb-3" *ngIf="appState.viewAzienda.attivazioneBancaOre">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Banca Ore</mat-label>
          <input
            type="number"
            matInput
            placeholder="Banca ore"
            formControlName="bancaOre"
            step="0.5"
            min="0"
            [max]="numeroOreControl.value - straordDiurniControl.value - straordNotturniControl.value"
          >
          <mat-error *ngIf="form.get('bancaOre').hasError('bancaOreExceed')">
            {{ form.get('bancaOre').errors.bancaOreExceed }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div
        [class.col-md-6]="appState.viewUser.turni"
        [class.col-12]="!appState.viewUser.turni"
      >
        <mat-form-field appearance="fill">
          <mat-label>Straordinari Diurni</mat-label>
          <input
            type="number"
            matInput
            placeholder="Numero ore straord. diurni"
            formControlName="straordinariDiurni"
            step="0.5"
            min="0"
            [max]="numeroOreControl.value - straordNotturniControl.value - bancaOreControl.value"
          >
          <mat-error *ngIf="form.get('straordinariDiurni').hasError('straordDiurniExceed')">
            {{ form.get('straordinariDiurni').errors.straordDiurniExceed }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="appState.viewUser.turni">
        <mat-form-field appearance="fill">
          <mat-label>Straordinari Notturni</mat-label>
          <input
            type="number"
            matInput
            placeholder="Numero ore straord. notturni"
            formControlName="straordinariNotturni"
            step="0.5"
            min="0"
            [max]="numeroOreControl.value - straordDiurniControl.value - bancaOreControl.value"
          >
          <mat-error *ngIf="form.get('straordinariNotturni').hasError('straordNotturniExceed')">
            {{ form.get('straordinariNotturni').errors.straordNotturniExceed }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3" [hidden]="!data.event.isLocal">
      <div class="col-12">
        <mat-checkbox [value]="ripeti" (change)="ripeti = !ripeti">Ripeti</mat-checkbox>
      </div>
      <div class="col-12 giorniRipetuti" #giorniRipetuti [hidden]="!ripeti">
        <mat-checkbox
          *ngFor="let day of days"
          [checked]="day[1]"
          (change)="day[1] = !day[1]"
        >{{ day[0] }}</mat-checkbox>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <mat-checkbox disabled>Reperibilità</mat-checkbox>
      </div>
      <div class="col-12" *ngIf="appState.viewUser.turni">
        <mat-checkbox
          formControlName="turni"
        >Turni</mat-checkbox>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <mat-form-field appearance="fill">
          <mat-label>Descrizione</mat-label>
          <textarea
            matInput
            placeholder="Descrizione"
            formControlName="descrizione"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
  <p class="text-right text-muted">Si prega di compilare tutti i campi contrassegnati dall'asterisco (<b>*</b>)</p>
</div>

<mat-dialog-actions class="actions-container" align="end">
  <button class="btn btn-link" mat-button mat-dialog-close>Annulla</button>
  <button
    class="btn btn-primary"
    mat-button
    [disabled]="form.invalid"
    (click)="save()"
  >Salva</button>
  <button
    class="btn btn-danger"
    mat-button
    [mat-dialog-close]="true"
    (click)="delete()"
  >Elimina</button>
</mat-dialog-actions>
