<div class="main-content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Toaster Service Showcase
            </div>
            <div class="card-body">
                <button
                    mat-raised-button
                    class="btn btn-info"
                    (click)="launchToast(ToastLevel.Info)"
                >toasterService(Info)</button>
                <button
                    mat-raised-button
                    class="btn btn-success"
                    (click)="launchToast(ToastLevel.Success)"
                >toasterService(Success)</button>
                <button
                    mat-raised-button
                    class="btn btn-warning"
                    (click)="launchToast(ToastLevel.Warning)"
                >toasterService(Warning)</button>
                <button
                    mat-raised-button
                    class="btn btn-danger"
                    (click)="launchToast(ToastLevel.Danger)"
                >toasterService(Danger)</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Dialog Service Showcase
            </div>
            <div class="card-body">
                <button
                    mat-raised-button
                    class="btn btn-primary"
                    (click)="launchDialog()"
                >dialogService(Are You Sure)</button>
            </div>
        </div>
    </div>
</div>
  