.custom-table {
    overflow: hidden;
    overflow-x: auto;
}

.custom-table-header, .custom-table-row {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(10ch, 1fr))  13ch repeat(5, minmax(10ch, 1fr)) 23ch;
    justify-items: center;
}

.custom-table-header {
    border-bottom: 1px solid #eee;
    font-weight: bolder;
}

.custom-table-row {
    padding-top: 2px;
    min-height: 64px;
}

.custom-table .row-wrap:not(:last-child) {
    border-bottom: 1px solid #eee;
}