<div class="card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">people</i>
        </div>
        <h4 class="card-title">Stati Utente</h4>
    </div>
    <div class="card-body">

        <div class="card">
            <div class="card-body">
                <form [formGroup]="form" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Nome e/o Cognome</mat-label>
                                <input 
                                    placeholder="Inserici nome e/o cognome" 
                                    matInput
                                    formControlName="nome"
                                >
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="mat-form-field-should-float" appearance="fill">
                                <mat-label>Scegli mese</mat-label>
                                <input
                                    class="no-style"
                                    type="text"
                                    readonly
                                    [value]="formatDate(appState.viewDate)"
                                    (click)="picker.open()"
                                >
                                <input
                                    class="my-hide"
                                    matInput
                                    [matDatepicker]="picker"
                                    placeholder="Scegli un mese"
                                    [value]="formatDate(appState.viewDate)"
                                    readonly
                                >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker
                                    #picker
                                    startView="year"
                                    (monthSelected)="closeDatePicker($event, picker)"
                                >
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Stato</mat-label>
                                <input
                                    type="text" 
                                    placeholder="Scegli stato"
                                    matInput
                                    formControlName="stato"
                                    [matAutocomplete]="auto"
                                >
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let stato of (statoAutocomplete.filteredArray$ | async)" [value]="stato.descr">
                                        {{ stato.descr }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Contratto</mat-label>
                                <input
                                    type="text" 
                                    placeholder="Scegli contratto"
                                    matInput
                                    formControlName="contratto"
                                    [matAutocomplete]="auto2"
                                >
                                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                                    <mat-option *ngFor="let contratto of (contrattoAutocomplete.filteredArray$ | async)" [value]="contratto.descr">
                                        {{ contratto.descr }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row flex-wrap justify-content-center">
                        <div class="col-12 col-md-auto">
                            <mat-checkbox formControlName="straordinari">Straordinari</mat-checkbox>
                        </div>
                        <div class="col-12 col-md-auto">
                            <mat-checkbox formControlName="trasferte">Trasferte</mat-checkbox>
                        </div>
                        <div class="col-12 col-md-auto">
                            <mat-checkbox formControlName="turni">Turni</mat-checkbox>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-wrap" style="gap: 0.5rem;">
            <button class="col-12 col-md-auto btn btn-outline-primary" (click)="selectAll()">
                <i class="material-icons">check</i>
                <br>
                Seleziona tutti
            </button>
            <button
                class="col-12 col-md-auto btn btn-primary"
                [disabled]="disableVistaSelected()"
                (click)="vistaSelected()"
            >
                <i class="material-icons">lock</i>
                <br>
                Vista selezionati
            </button>
        </div>

        <p class="text-right text-muted" style="font-size: 12px;">
            La barra indica la percentuale di tempo consuntivato rispetto il totale.
        </p>

        <div class="custom-table-wrap">
            <div class="custom-table-inner">
                <div class="custom-table">
                    <div class="custom-table-header">
                        <th scope="col">Seleziona</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Ore Consuntiv.</th>
                        <th scope="col">Ore Mensili</th>
                        <th scope="col">Straodinari</th>
                        <th scope="col">Trasferte</th>
                        <th scope="col">Turni</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Azioni</th>
                    </div>
                    <div class="custom-table-body">

                    <ng-container *ngIf="{
                        loading: chiusureService.statoUtentiLoading$ | async,
                        searchResults: searchResults$ | async
                    } as data">
                        <div *ngIf="data.loading" class="text-center py-5">
                            <div class="spinner-border" role="status"></div>
                            <br>
                            Caricando...
                        </div>

                        <ng-container *ngIf="!data.loading">
                            <div class="row-wrap" *ngFor="let statoUtente of data.searchResults">
                                <div class="custom-table-row" style="position: relative;">
                                    <div class="progress" style="position: absolute; top: 0; height: 2px; width: 100%;">
                                        <div
                                            class="progress-bar"
                                            [style.width]="statoUtente._progress"
                                            [style.backgroundColor]="statoUtente._color"
                                        ></div>
                                    </div>
                                    <span>
                                        <mat-checkbox 
                                            [checked]="statoUtente._selected" 
                                            [disabled]="statoUtente.stato !== 'Chiuso'"
                                            (change)="statoUtente._selected = $event.checked"
                                        ></mat-checkbox>
                                    </span>
                                    <span>{{ statoUtente.nome }}</span>
                                    <span>{{ statoUtente.cognome }}</span>
                                    <span>{{ statoUtente.oreConsuntivate }}</span>
                                    <span>{{ statoUtente.oreMensili }}</span>
                                    <span>
                                        <mat-checkbox disabled></mat-checkbox>
                                    </span>
                                    <span>
                                        <mat-checkbox disabled></mat-checkbox>
                                    </span>
                                    <span>
                                        <mat-checkbox disabled></mat-checkbox>
                                    </span>
                                    <span>
                                        <span
                                            class="badge"
                                            [class.badge-outline-warning]="statoUtente.stato === 'Aperto'"
                                            [class.badge-outline-primary]="statoUtente.stato === 'Chiuso'"
                                            [class.badge-outline-secondary]="statoUtente.stato === 'Vistato'"
                                        >{{ statoUtente.stato }}</span>
                                    </span>
                                    <span style="display: flex; gap: 1ch; justify-self: end;">
                                        <button
                                            *ngIf="statoUtente.stato !== 'Vistato'"
                                            class="btn btn-outline-primary py-2 px-2"
                                            (click)="goToChiusuraMensile(statoUtente.idUtente)"
                                        >
                                            <i class="material-icons">visibility</i>
                                            <br>
                                            <span style="font-size: 0.6rem">Dettaglio</span>
                                        </button>
                                        <button
                                            *ngIf="statoUtente.stato === 'Chiuso'"
                                            class="btn btn-primary py-2 px-3"
                                        >
                                            <i class="material-icons">lock</i>
                                            <br>
                                            Vista
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="data.searchResults?.length === 0" class="text-center py-5">
                                Non ci sono record presenti per questa data
                            </div>
                        </ng-container>
                    </ng-container>

                    </div>
                </div>
            </div>
            <mat-paginator
                *ngIf="paginator$ | async as paginator"
                [length]="length"
                [pageSize]="paginator.pageSize"
                [pageSizeOptions]="[10, 15, 25, 50]"
                (page)="onPageChange($event)"
            >
            </mat-paginator>
        </div>

    </div>
</div>