<div class="align-items-center d-flex flex-wrap justify-content-center justify-content-md-between my-3">
    <mat-form-field class="no-hint w-auto" appearance="fill">
        <mat-label>Cerca Data</mat-label>
        <input
            matInput
            placeholder="Cerca data"
            readonly
            [matDatepicker]="picker"
            [value]="rendicontazioneService.viewDate"
            (dateChange)="rendicontazioneService.viewDate = $event.value"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button class="btn btn-link" (click)="rendicontazioneService.refresh()">
        Aggiorna 
        <i class="material-icons">refresh</i>
    </button>
</div>
