<div class="card inherited-styles-for-exported-element">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">list</i>
        </div>
        <h4 class="card-title">
            Riepilogo Consuntivi
        </h4>
    </div>
    <div class="card-body">

        <app-refreshing-header></app-refreshing-header>

        <div class="table-wrap">
            <div class="table-inner">

                <div *ngIf="rendicontazioneService.loading$ | async" class="loading-wrap">
                    <div class="loading-inner">
                        <div class="spinner-border" role="status"></div>
                        <br>
                        Caricando i consuntivi...
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Ora Inizio</th>
                            <th scope="col">Commessa</th>
                            <th scope="col" class="text-right">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr 
                            *ngFor="let consuntivo of (consuntivi$ | async)"
                            [class.cal-bg-yellow]="consuntivo.isLocal"
                            [class.cal-bg-blue]="!consuntivo.isLocal"
                        >
                            <td>{{ consuntivo.giorno }}</td>
                            <td>{{ consuntivo.start | date: 'hh:mm' }}</td>
                            <td [innerHTML]="consuntivo.title"></td>
                            <td class="text-right">
                                <button
                                    class="btn btn-link p-3"
                                    (click)="openDialog(consuntivo)"
                                >Modifica <i class="material-icons">edit_note</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="(consuntivi$ | async)?.length === 0" class="no-consuntivi">
                    <p>Nessun consuntivo</p>
                </div>
            </div>
        </div>

    </div>
</div>