<div class="card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">list</i>
        </div>
        <h4 class="card-title">Dati Presenza</h4>
    </div>
    <div class="card-body">

        <div class="table-wrap">
            <div class="table-inner">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Codice Attività</th>
                            <th scope="col">Data Presenza</th>
                            <th scope="col">Modalità Lavoro</th>
                            <th scope="col">Minuti</th>
                            <th scope="col">Turni</th>
                            <th scope="col">Reperibilità</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>29_15-ITEC-XXX</td>
                            <td>3 nov 2022</td>
                            <td>Casa</td>
                            <td>120</td>
                            <td>No</td>
                            <td>No</td>
                            <td>
                                <button
                                    class="btn btn-link"
                                    mat-raised-button
                                    matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam aspernatur vel mollitia neque veritatis asperiores perspiciatis ab blanditiis itaque explicabo cum laudantium corporis incidunt excepturi impedit, magnam atque exercitationem?"
                                >
                                    <i class="material-icons">info</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>4 nov 2022</td>
                            <td>Casa</td>
                            <td>120</td>
                            <td>No</td>
                            <td>No</td>
                            <td>
                                <button
                                    class="btn btn-link"
                                    mat-raised-button
                                    matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam aspernatur vel mollitia neque veritatis asperiores perspiciatis ab blanditiis itaque explicabo cum laudantium corporis incidunt excepturi impedit, magnam atque exercitationem?"
                                >
                                    <i class="material-icons">info</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>5 nov 2022</td>
                            <td>Ufficio</td>
                            <td>120</td>
                            <td>No</td>
                            <td>No</td>
                            <td>
                                <button
                                    class="btn btn-link"
                                    mat-raised-button
                                    matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam aspernatur vel mollitia neque veritatis asperiores perspiciatis ab blanditiis itaque explicabo cum laudantium corporis incidunt excepturi impedit, magnam atque exercitationem?"
                                >
                                    <i class="material-icons">info</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Ferie</td>
                            <td>6 nov 2022</td>
                            <td>Casa</td>
                            <td>120</td>
                            <td>No</td>
                            <td>No</td>
                            <td>
                                <button
                                    class="btn btn-link"
                                    mat-raised-button
                                    matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam aspernatur vel mollitia neque veritatis asperiores perspiciatis ab blanditiis itaque explicabo cum laudantium corporis incidunt excepturi impedit, magnam atque exercitationem?"
                                >
                                    <i class="material-icons">info</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>7 nov 2022</td>
                            <td>Casa</td>
                            <td>120</td>
                            <td>No</td>
                            <td>No</td>
                            <td>
                                <button
                                    class="btn btn-link"
                                    mat-raised-button
                                    matTooltip="Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam aspernatur vel mollitia neque veritatis asperiores perspiciatis ab blanditiis itaque explicabo cum laudantium corporis incidunt excepturi impedit, magnam atque exercitationem?"
                                >
                                    <i class="material-icons">info</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>