.custom-table {
    overflow: hidden;
    overflow-x: auto;
}

.custom-table-header, .custom-table-row, .custom-table-subrow {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    justify-items: center;
}

.custom-table-header {
    border-bottom: 1px solid #eee;
    font-weight: bolder;
}

.custom-table-row {
    padding-top: 2px;
    min-height: 64px;
}

.custom-table-subrow {
    border-top: 1px solid #eee;
}

.my-collapse {
    max-height: 0;
    opacity: 0;
    transition: all 250ms ease-out;
}

input.my-collapse-trigger:checked ~ .my-collapse {
    max-height: 100vh;
    opacity: 1;
    overflow-y: auto;
}
