<div class="container p-0 mb-5">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="btn-toolbar calendar-controls"
                role="toolbar">

                <div class="btn-group btn-group-toggle view-mode">
                    <label
                        class="btn btn-secondary"
                        (click)="view = CalendarView.Week"
                        [class.active]="view === CalendarView.Week"
                    >Week</label>
                    <label
                        class="btn btn-secondary"
                        (click)="view = CalendarView.Day"
                        [class.active]="view === CalendarView.Day"
                    >Day</label>
                </div>

                <mat-card>
                    <mat-form-field floatLabel="never" class="no-label no-hint">
                        <input [formControl]="searchDate" matInput [matDatepicker]="picker" placeholder="Cerca data">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-card>

                <div class="btn-group" role="group">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                    >
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <button
                        type="button"
                        class="btn btn-secondary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate"
                    >Oggi</button>
                    <button
                        type="button"
                        class="btn btn-secondary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                    >
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="card-body cal-wrapper">

            <div
                *ngIf="view === 'day'"
                class="cal-view-day-header"
            >
                <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h4>
            </div>

            <div class="cal-container" #scrollContainer>

                <ng-template #weekViewHourSegmentTemplate let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight"
                    let-isTimeLabel="isTimeLabel">
                    <div #segmentElement class="cal-hour-segment" [style.height.px]="segmentHeight"
                        [class.cal-hour-start]="segment.isStart" [class.cal-after-hour-start]="!segment.isStart"
                        [ngClass]="segment.cssClass" (mousedown)="startDragToCreate(segment, $event, segmentElement)">
                        <div class="cal-time" *ngIf="isTimeLabel">
                            {{ segment.date | calendarDate:'weekViewHour':locale }}
                        </div>
                    </div>
                </ng-template>

                <ng-container [ngSwitch]="view">
                    <mwl-calendar-week-view
                        *ngSwitchCase="'week'"
                        [viewDate]="viewDate"
                        [events]="events"
                        [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                        [weekStartsOn]="weekStartsOn"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        (eventClicked)="onEventClicked($event)"
                    >
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view
                        *ngSwitchCase="'day'"
                        [locale]="locale"
                        [viewDate]="viewDate"
                        [events]="events"
                        [hourSegmentTemplate]="weekViewHourSegmentTemplate"
                        [weekStartsOn]="weekStartsOn"
                        (eventTimesChanged)="eventTimesChanged($event)"
                        (eventClicked)="onEventClicked($event)"
                    >
                    </mwl-calendar-day-view>
                </ng-container>

            </div>
        </div>
    </div>
</div>