<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/scai/logo-bianco-64x64.png">
    </div>
  </a>
  <a href="https://www.grupposcai.it/" class="simple-text logo-normal"> SCAI </a>
</div>

<div class="sidebar-wrapper">

  <div class="user">
    <div class="image">
      <i class="fa fa-building" aria-hidden="true"></i>
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapse-user" class="collapsed">
        <span>Scegli azienda <b class="caret"></b></span>
      </a>
      <div id="collapse-user" class="collapse">
        <ul class="nav">
          <li *ngFor="let azienda of userService.aziende" class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link"
              [class.active]="userService.azienda === azienda"
              (click)="userService.azienda = azienda"
            >
              <span class="sidebar-mini">{{ azienda.acronimo }}</span>
              <span class="sidebar-normal">{{ azienda.descrizione }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-power-off" aria-hidden="true"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}</p>
      </a>
      <!--If it have a submenu-->
      <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'" (click)="updatePS()"
        class="nav-link">
        <i class="material-icons">{{menuitem.icontype}}</i>
        <p>{{menuitem.title}}<b class="caret"></b></p>
      </a>
      <!--Display the submenu items-->
      <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
            <a [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
              <span class="sidebar-mini">{{childitem.ab}}</span>
              <span class="sidebar-normal">{{childitem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="https://demos.creative-tim.com/material-dashboard-pro-angular2/#/documentation/tutorial" class="nav-link">
        <i class="material-icons">school</i>
        <p>Documentazione</p>
      </a>
    </li>
  </ul>

</div>