.user .image {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: #fff;
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 11px;
    margin-left: 23px;
}

.user a.nav-link.active {
 background-color: #fff;
 color: #000 !important;
}