<div class="card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">event_busy</i>
        </div>
        <h4 class="card-title">Rapporto Mensile</h4>
    </div>
    <div class="card-body pb-0">

        <div class="line-up">
            <div class="card element-center m-0">
                <div class="card-header p-0">
                    <form novalidate>
                        <mat-form-field class="mat-form-field-should-float" appearance="fill">
                            <mat-label>Scegli mese</mat-label>
                            <input
                                class="no-style"
                                type="text"
                                readonly
                                [value]="formatDate(appState.viewDate)"
                                (click)="picker.open()"
                            >
                            <input
                                class="my-hide"
                                matInput
                                [matDatepicker]="picker"
                                placeholder="Scegli un mese"
                                [value]="formatDate(appState.viewDate)"
                                readonly
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker
                                #picker
                                startView="year"
                                (monthSelected)="closeDatePicker($event, picker)"
                            >
                            </mat-datepicker>
                        </mat-form-field>
                    </form>
                </div>
                <div class="card-body pt-0">
                    <div class="h4">
                        <div class="d-flex flex-column gap-2">

                            <ng-container *ngIf="{
                                loading: chiusureService.chiusuraMeseLoading$ | async,
                                chiusuraMese: chiusuraMese$ | async
                            } as data">
                                <div *ngIf="data.loading" class="text-center py-5">
                                    <div class="spinner-border" role="status"></div>
                                    <br>
                                    Caricando...
                                </div>
    
                                <ng-container *ngIf="!data.loading">
                                    <div
                                        *ngIf="data.chiusuraMese?.idStatoChiusura as idStatoChiusura"
                                        class="d-flex justify-content-between mb-3"
                                    >
                                        <b>Stato Chiusura</b>
                                        <span>{{ idStatoChiusura === 1 ? 'Aperto' : idStatoChiusura === 2 ? 'Chiuso' : 'Vistato' }}</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <b>Ore Consuntivate</b>
                                        <span>{{ data.chiusuraMese?.totaleOre }}</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <b>Ore Mensili</b>
                                        <span>{{ data.chiusuraMese?.oreMensili }}</span>
                                    </div>
                                    <div
                                        *ngIf="isChiusuraAlert(data.chiusuraMese)"
                                        class="alert alert-danger alert--btn"
                                    >
                                        Un mese si dovrebbe chiudere solo se le Ore Ordinarie sono uguali alle Ore Mensili.
                                    </div>
                                    <ng-container *ngIf="data.chiusuraMese?.idStatoChiusura as idStatoChiusura">
                                        <button
                                            class="btn btn-primary"
                                            [class.btn-danger]="isChiusuraAlert(data.chiusuraMese)"
                                            style="align-self: center;"
                                            [disabled]="idStatoChiusura === 3"
                                            (click)="idStatoChiusura === 1
                                                ? chiusureService.chiudiMese()
                                                : idStatoChiusura === 2
                                                    ? chiusureService.apriMese()
                                                    : null"
                                        >
                                            {{ idStatoChiusura === 1 ? 'Chiudi Mese' : idStatoChiusura === 2 ? 'Apri Mese' : 'Vistato' }}
                                        </button>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-up">
            <div class="card m-0">
                <div class="card-header pb-0 d-flex">
                    <div class="card-title">Totali Ore</div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <b>Totale Ore</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOre }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Totale Ore Ordinarie</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOreOrdinarie }}</span>
                    </div>
                    <div class="d-flex justify-content-between pl-2">
                        <b>di cui Totale Ore di Assenza</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOreAssenza }}</span>
                    </div>
                    <div class="d-flex justify-content-between pl-2 mb-1">
                        <b>di cui Totale Ore Turni</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOreTurni }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Totale Ore Reperibilità</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOreReperibilita }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Totale Ore Altro</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.totaleOreAltro }}</span>
                    </div>
                </div>
            </div>
            <div class="card m-0">
                <div class="card-header pb-0">
                    <div class="card-title">Differenza</div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <b>Straordinario Feriale</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.straordinarioFeriale }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Straordinario Notturno</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.straordinarioNotturno }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Straordinario Festivo</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.straordinarioFestivo }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Ore Recuperi</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.oreRecuperi }}</span>
                    </div>
                </div>
            </div>
            <div class="card m-0">
                <div class="card-header">
                    <div class="card-title">Modalità</div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <b>Modalità Casa</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.modalitaCasa }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Modalità Ufficio</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.modalitaUfficio }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <b>Modalità Cliente</b>
                        <span class="text-muted">{{ (chiusuraMese$ | async)?.modalitaCliente }}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>