.line-up {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}

@media(min-width: 1200px) {
    .line-up {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1rem;
    }

    .line-up > .element-center {
        grid-column: 2/3;
    }
}