<div class="card add-special-shadow user-panel-card">
    <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
            <i class="material-icons">supervisor_account</i>
        </div>
        <h4 class="card-title">Ciao {{ userService.user.nome }} {{ userService.user.cognome }}</h4>
    </div>
    <div class="card-body">
        <p class="h4 text-center">Stai vedendo:<br><b>{{ getNomeCognome() }}</b></p>
        <form novalidate>
            <mat-form-field appearance="fill">
                <mat-label>ID Utente Consuntivi</mat-label>
                <input
                    type="text" 
                    placeholder="Scegli un utente"
                    matInput 
                    [formControl]="utenteAziendaAutocomplete.control"
                    [matAutocomplete]="auto"
                >
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option
                        *ngFor="let utenteAzienda of (utenteAziendaAutocomplete.filteredArray$ | async)"
                        [value]="utenteAzienda.idUtente"
                    >
                        {{ utenteAzienda.nome }} {{ utenteAzienda.cognome }}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint>Usa questo campo per impersonare un altro utente</mat-hint>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
</div>
